:root {
  --nice-green-color: #679186;
}
body {
  margin-top: 100px;
  color: #264e70;
  text-align: center;
}
h2 {
  margin: 20px;
  font-size: 24px;
}
h1 {
  margin: 0;
  font-size: 64px;
  color: var(--nice-green-color);
}
.about-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.about-text {
  margin: 1% 5%;
  padding: 10px;
  text-align: justify;
}
footer {
  margin: 5%;
}
.contact-me {
  font-size: 44px;
}
.contact-link {
  font-size: 22px;
  color: var(--nice-green-color);
}
.contact-link:visited {
  color: #264e70;
}
.col-md-4 {
  margin: auto;
}
@media (max-width: 600px) {
  .front-end {
    font-size: 20px;
  }
}
