:root {
  --nice-green-color: #679186;
  --nice-pink-color: rgb(252, 115, 156);
  --default-color: #42446e;
  --default-font-family: "Poppins", sans-serif;
  --linear-gradient-pink: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 100%
  );
  --linear-gradient-purple: linear-gradient(
    90deg,
    rgb(252, 115, 156) 0%,
    rgb(139, 102, 241) 56%
  );
}
body {
  color: var(--default-color);
  font-family: var(--default-font-family);
}
h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
}
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
p {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
nav {
  padding: 20px 0;
}
nav p {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
  line-height: 40px;
}
nav li {
  margin-left: 15px;
  display: inline;
  text-decoration: none;
  list-style: none;
  /* font-family: var(--default-font-family); */
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
nav a {
  text-decoration: none;
  color: var(--default-color);
}
nav a:hover,
nav li.active a {
  color: var(--nice-pink-color);
}
.heading {
  padding: 130px 10px;
}
.heading span {
  color: var(--nice-pink-color);
}
.heading img,
.about img {
  width: 349px;
  border: 8px solid var(--nice-pink-color);
  border-radius: 230px;
}
.work-section h2,
.work-section p {
  margin: 49px;
  text-align: center;
}
.project-description,
.project-screen {
  margin: auto;
  text-align: center;
}
.project-text {
  text-align: justify;
}
.button-nice {
  width: 170px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(139, 102, 241);
  border-radius: 20px;
  background: var(--linear-gradient-pink);
  color: white;
  transition: all 100ms ease-in-out;
}
.button-nice:hover {
  background: var(--linear-gradient-purple);
}
.work-row {
  margin: 60px 5px;
}
footer p {
  color: var(--default-color-light);
  font-size: 18px;
  line-height: 27px;
}

footer a {
  text-decoration: none;
  color: var(--default-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding: 15px;
  margin: 15px;
}
footer a:hover {
  color: var(--nice-pink-color);
}
.fa-brands {
  text-decoration: none;
  color: var(--default-color);
}
.fa-brands:hover {
  color: var(--nice-pink-color);
}
.author {
  margin: 10px;
}
.author p,
.author a {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  font-size: 10px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.about,
.work-experience {
  padding: 60px 10px;
}
.about-col {
  margin: auto;
}
.work-experience-col {
  text-align: center;
  margin: auto;
}
@media (max-width: 600px) {
}
