:root {
  --nice-green-color: #679186;
}
body {
  margin-top: 100px;
  text-align: center;
  color: #264e70;
}
h2 {
  margin: 50px 0 0 0;
  font-size: 34px;
}
h1 {
  margin: 0;
  font-size: 64px;
  color: var(--nice-green-color);
}
h3 {
  margin: 0 0 15px 0;
  font-size: 24px;
}
.button-nice {
  width: 170px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--nice-green-color);
  border-radius: 20px;
  color: var(--nice-green-color);
}
.button-nice:hover {
  border: 1px solid var(--nice-green-color);
  background-color: var(--nice-green-color);
}
/* .button-nice:visited {
  color: #264e70;
} */
.col-md-6 {
  margin: auto;
}
